@import 'src/scss/variables';
@import 'src/scss/mixins';

.container {
  @include centeredElement();

  min-height: calc(100vh - $headerHeight);
  padding: 1rem;
}

.card {
  padding: 1rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  flex: 1;

  @media #{$mq-medium} {
    flex-direction: column;
  }
}

.warn {
  font-size: 0.8rem;
  font-size: bold;
  font-style: italic;
}
