@import "../../../scss/variables";
@import "../../../scss/shared";
@import "../../../scss/mixins";

.menu {
  width: 100%;

  &Wrapper {
    position: relative;
    overflow-y: auto;
    width: $menuWidth;
    transition: 0.15s ease-in-out width;
    background-color: var(--navmenu-background);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    @media #{$mq-medium} {
      width: 0;
    }

    &.active {
      width: $menuWidth;
    }

    @media #{$mq-medium} {
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 100;
    }
  }

  &Header {
    @include centeredElement();
    height: $headerHeight;

    h2 {
      color: var(--navmenu-color);
      background-color: var(--navmenu-header-background);
      margin: 0;
      padding: 0.5rem 2rem;
      width: 80%;
      text-align: center;
      white-space: nowrap;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

.subMenu {
  font-size: 18x;
}

.userInfo {
  @include centeredElement();

  flex-direction: column;
  height: $headerHeight;
  padding: 0.5rem 1rem;

  p {
    @extend %noWrapText;

    color: var(--navmenu-color);
    margin: 0;
    font-size: 1rem;
    width: 100%;
    text-align: center;

    span {
      font-style: italic;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
