@import '../../../scss/variables';

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  width: 100%;

  button {
    width: 100%;
  }
}

.drinks {

  &Wrapper {
    margin-top: 1rem;
  }

  &List {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &Founded {
    @media screen and (max-width: $break1) {
      text-align: center;
    }
  }

}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer {
  width: 500px;
}
