@import "../../../scss/variables";
@import "../../../scss/shared";
@import "../../../scss/mixins";

.container {
  @extend .container;
  @include centeredElement();
  flex-direction: column;
}

.drinks {
  &Wrapper {
    margin-top: 1rem;
  }

  &List {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &Founded {
    @media #{$mq-medium} {
      text-align: center;
    }
  }
}

.paginationContainer {
  @include centeredElement();
}

.drawer {
  width: 500px;
}
