@import "../../scss/variables";

.menu {
  width: 100%;

  &Wrapper {
    position: relative;
    overflow-y: auto;
    width: 0;
    transition: 0.15s ease-in-out width;
    background-color: $headerHeight;

    &.active {
      width: $menuWidth;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }

    @media screen and (max-width: $break1) {
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 100;
      background-color: var(--header-color);
    }
  }

  &Header {
    text-align: center;
    line-height: $headerHeight;
    height: $headerHeight;
  }
}

.subMenu {
  font-size: 18x;
}
