@import "../../../scss/shared";
@import "../../../scss/mixins";

.modalContainer {
  @include centeredElement();

  width: 100%;
}

.requestInfo {
  flex: 1;

  p {
    margin-bottom: 0.5rem;
  }

  .badge {
    margin-left: 0.2rem;
  }
}

.link {
  color: #1991ff;
  cursor: pointer;
}
