@import 'src/scss/variables';
@import 'src/scss/mixins';

.menuToggle {
  @include centeredElement();

  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 101;
  cursor: pointer;
  border-color: #ffffff;
  border: none;
  border-radius: 50%;
  transition: 0.15s ease-in-out left;
  background: var(--navmenu-button-background);
  display: block;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &.active {
    left: $menuWidth - 25px;
    right: 0;
    background: var(--navmenu-button-background-active);
  }
}
