@import "../../../scss/variables";
@import "../../../scss/shared";
@import "../../../scss/mixins";

.container {
  @extend .container;
  @include centeredElement();

  flex-direction: column;
}

.search {
  width: 100%;
}

.drinks {
  &Wrapper {
    margin-top: 1rem;
  }

  &List {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
}

.paginationContainer {
  @include centeredElement();
}
