@import "src/scss/variables";
@import "src/scss/shared";
@import "src/scss/mixins";

.container {
  @extend .container;
  @include centeredElement();

  flex-direction: column;
}

.search {
  width: 100%;
}

.drinks {
  &Wrapper {
    margin-top: 1rem;
    width: 100%;
  }

  &List {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;

    @media #{$mq-medium} {
      justify-content: center;
    }
  }
}

.paginationContainer {
  @include centeredElement();
}
