@import "../../../scss/variables";
@import "../../../scss/shared";

.item {
  display: flex;
  gap: 1rem;

  @media #{$mq-medium} {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .info {
    flex: 1;
    min-width: 50%;

    @media #{$mq-medium} {
      width: 100%;

      .imageName {
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      .badge {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.drinkName {
  @extend %noWrapText;

  color: #000000;
  text-decoration: underline;
}
