@import "../../../scss/variables";

.container {
  width: 100%;
  max-width: 700px;
  margin: 1rem auto;
  padding: 1rem;
}

.title {
  font-size: 2.2rem;
  text-decoration: underline;
  text-align: center;
}

.item {
  display: flex;
  gap: 1rem;

  @media screen and (max-width: $break1) {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .info {
    flex: 1;
    min-width: 50%;

    @media screen and (max-width: $break1) {
      width: 100%;

      .imageName {
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      .badge {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.drinkName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000000;
  text-decoration: underline;
}
