@import 'src/scss/variables';
@import 'src/scss/shared';

.item {
  display: flex;
  gap: 1rem;

  @media #{$mq-medium} {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .info {
    flex: 1;
    min-width: 50%;

    @media #{$mq-medium} {
      width: 100%;

      .imageName {
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}

.uploadImages {
  margin-top: 2rem;
  text-align: center;
}
