@import "~antd/dist/antd.css";

:root {
  --navmenu-background: #001529;
  --navmenu-color: rgba(255, 255, 255, 0.65);
  --navmenu-header-background: #000c17;
  --navmenu-button-background: #eeeeee;
  --navmenu-button-background-active: #000c17;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
