@import './variables';
@import './mixins';

.container {
  max-width: 700px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  text-decoration: underline;
}

.bottomButton {
  --pos: 30px;
  position: fixed;
  bottom: var(--pos);
  right: var(--pos);
  z-index: 10;

  @media #{$mq-medium} {
    --pos: 10px;
  }
}

.fullButton {
  width: 100%;

  button {
    width: 100%;
  }
}

.loading {
  @include centeredElement();
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

%noWrapText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.animatedLink {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: 0.3s ease-in-out width;
  }

  &:hover::before {
    width: 100%;
  }
}
