@import "../../../scss/variables";
@import "../../../scss/shared";
@import "../../../scss/mixins";

.container {
  @extend .container;
  @include centeredElement();

  max-width: 500px;
  flex-direction: column;

  .list {
    width: 100%;
    margin-top: 1.5rem;
  }

  .item {
    margin-bottom: 0.5rem;
    border: 1px solid #d9d9d9;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .name {
    font-size: 1.2rem;
  }

  .name,
  .email {
    margin: 0;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.pagination {
  @include centeredElement();

  width: 100%;
}
